<%- include('layout/header'); -%>

<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <div class="card-title" style="display: flex;justify-content: space-between; align-items: center;">
                <h4>Notepad</h4>
                <button type="submit" id="submitBtn" class="btn btn-primary">
                    <%- content == '' ? 'Save' : 'Update' %>
                </button>
            </div>
            <hr />
            <textarea class="form-control" rows="15" id="content" name="content"
                      placeholder="Enter something..." onChange="saveNote()"><%= content %></textarea>
        </form>
        <br />
        <input class="form-control" disabled value="https://notepad.trid.pw/<%= id %>" />
    </div>
</div>

<script>

    function setSubmitLoading(isLoading) {
        const submitBtn = document.getElementById('submitBtn');

        if (isLoading) {
            submitBtn.innerText = 'Saving...';
            submitBtn.setAttribute('disabled', true);
        } else {
            submitBtn.innerText = 'Update';
            submitBtn.removeAttribute('disabled');
        }
    }

    function saveNote(event) {
        const content = document.getElementById('content').value;

        setSubmitLoading(true);

        postData('', {
            content
        }).finally(() => {
            setSubmitLoading(false);
        });
    }

    async function postData(url = '', data = {}) {
        return fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
    }

</script>

<%- include('layout/footer'); -%>
